<div id="footer" class="text-center margin-15-0 visible-sm visible-md visible-lg" role="navigation">
    <div class="container">
        <a href="#" class="margin-0-15">
            <span class="glyphicon glyphicon-user"></span>
            Quem somos
        </a>

        <a href="#" class="margin-0-15">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            Colabore
        </a>
        <a href="#" class="margin-0-15">
            <span class="glyphicon glyphicon-envelope"></span>
            Contato
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://ec2-54-232-246-149.sa-east-1.compute.amazonaws.com:5000/" onclick="window.open(this.href, 'mywin',
				'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="margin-0-6" >
            <img src="images/facebook55.png" height="16"></img>
        </a>
        <a href="https://twitter.com/home?status=http:http://ec2-54-232-246-149.sa-east-1.compute.amazonaws.com:5000/" onclick="window.open(this.href, 'mywin',
				'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="margin-0-6" >
            <img src="images/social19.png" height="16"></img>
        </a>
        <a href="https://github.com/ThoughtWorksInc/registrolivre" target="_blank" class="margin-0-6">
            <img src="images/iconeGit.png" height="24"></img>
        </a>
    </div>
</div>