<div class="col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1">
    <div class="panel panel-default margin-35-0">
        <div class="panel-heading centralize">
            <h2>Empresas</h2>
        </div>
        <div class="panel-body">
            <table ng-show="!hasCompanies" class="table table-striped table-hover">
                <thead>
                    <th>Nome Fantasia</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            {{ companiesNotFoundMessage }}
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table ng-show="hasCompanies" ng-table="tableParams" class="table table-striped table-hover">
                <tr ng-repeat="company in $data" initialize-tooltip>
                    <td class="text-left" data-title="'Nome Fantasia'" sortable="'tradeName'" ng-init="hasLongName = company.tradeName.length > 60">
                        <span ng-attr-data-toggle="{{ hasLongName ? 'tooltip' : '' }}" title="{{ company.tradeName }}">{{ company.tradeName | limitTo : 60 }}<span ng-show="hasLongName">...</span></span>
                    </td>
                    <td>
                        <a href="{{ company.document.url }}" class="btn btn-default">Download de PDF</a>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>