<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
      <div class="messages-container"></div>

      <div class="panel panel-default margin-35-0">

      <div class="panel-heading centralize">
        <h2>Cadastrar Empresa</h2>
      </div>

      <form class="form" name="userForm" enctype="multipart/form-data">
        <div class="panel-body">
          <div class="list-group-item-heading centralize">
            <h4>Dados da empresa</h4>
          </div>

          <div cnpj-validation class="form-group has-feedback " id="cnpj-group" >
            <label class="control-label">CNPJ <abbr class="cor-vermelha" alt="Preenchimento obrigatório" title="Preenchimento obrigatório">*</abbr></label>
            <input class="form-control required" ng-model="company.cnpj"  type="text" name="empresa.cnpj" id="cnpj"
                   autocomplete="off" ui-mask="?99.999.999/9999-99" model-view-value="true" required>
              <span ng-show="verifingCnpj" class="form-control-feedback" aria-hidden="true"><img src="images/loader.svg" alt=""/></span>
              <span ng-show="showUniqueCnpjMessage()"><label class=" control-label">Já existe empresa com esse CNPJ</label></span>
              <span ng-show="showIncompleteCnpjMessage()"><label class=" control-label">Número incompleto</label></span>
              <span ng-show="showInvalidCnpjMessage()"><label class=" control-label">Número inválido</label></span>
          </div>

          <div class="form-group has-feedback" id="nomeFantasia-group" ng-class="{'has-error': userForm.nomeFantasia.$dirty && userForm.nomeFantasia.$invalid, 'has-success': userForm.nomeFantasia.$valid }">
            <label class="control-label">Nome fantasia  <abbr class="cor-vermelha" alt="Preenchimento obrigatório" title="Preenchimento obrigatório">*</abbr> </label>
            <input class="form-control required" ng-model="company.tradeName" type="text" name="nomeFantasia"
                   id="nomeFantasia" value="" placeholder="ex: Larah Instrumentos Musicais" maxlength="150" required>
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="form-group" id="razaoSocial-group">
            <label class="control-label">Razão social </label>
            <input class="form-control" ng-model="company.companyName" type="text" name="empresa.razaoSocial" id="razaoSocial" placeholder="ex: Larah Instrumentos Musicais Ltda." maxlength="150">
          </div>

          <div class="form-group has-feedback" id="nomeEndereco-group">
            <label class="control-label">Endereço </label>
            <input class="form-control" ng-model="company.Address" type="text" name="nomeEndereco" id="nomeEndereco"
                     value="" placeholder="ex: Av. Ipiranga">
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group has-feedback" id="nomeNumero-group">
                <label class="control-label">Número </label>
                <input class="form-control" ng-model="company.Number" type="number" name="empresa.nomeNumero" id="nomeNumero"
                       value="" placeholder="" maxlength="9" autocomplete="off"  model-view-value="true" />
                <span class="glyphicon form-control-feedback"></span>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="form-group has-feedback" id="nomeComplemento-group">
                <label class="control-label">Complemento</label>
                <input class="form-control" ng-model="company.Complement" type="text" name="empresa.nomeComplemento" id="nomeComplemento"
                       value="" placeholder="ex: 201">
                <span class="glyphicon form-control-feedback"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2">
              <div class="form-group has-feedback" id="nomeUF-group">
                <label class="control-label">UF </label>
                <select class="form-control" ng-model="company.UF" size="1" lang="trocaEstado()">
                    <option ng-repeat="state in getStates()" ng-value="{{state[0]}}"> {{ state[0] }} </option>
                </select>
                    <span class="glyphicon form-control-feedback"></span>
                </div>
            </div>

            <div class="col-lg-7 col-md-7">
              <div class="form-group has-feedback" id="nomeCidade-group">
                <label class="control-label">Cidade </label>
                <select class="form-control" ng-model="company.Cidade" size="1">
                    <option ng-repeat="city in loadCities()" value="{{city}}"> {{ city }} </option>
                </select>
                <span class="glyphicon form-control-feedback"></span>
              </div>
            </div>

            <div class="col-lg-3 col-md-3">
              <div class="form-group has-feedback" id="nomeCEP-group">
                <label class="control-label">CEP</label>
                <input class="form-control"  ng-model="company.CEP" type="text" name="empresa.nomeCEP" id="nomeCEP"
                       value="" maxlength="9" autocomplete="off" ui-mask="?99999-999" model-view-value="true">
                <span class="glyphicon form-control-feedback"></span>
              </div>
            </div>
        </div>

        </div>
        <div class="panel-footer">
          <span class="centralize msg-alert color-red margin-15-0" id="form-alert">Preencha os campos corretamente para enviar.</span>
          <input type="submit" id="btn-submit" ng-disabled="userForm.$invalid" class="btn btn-lg btn-primary pull-right margin-0-6" ng-click="createCompany(company)" value="Enviar" disabled="true">
          <input type="reset" ng-click="clearForm(userForm)" value="Limpar" class="btn btn-default btn-lg pull-left margin-0-6">
          <div style="clear:both;"></div>
        </div>

      </form>

    </div> <!-- panel -->
  </div> <!-- col -->
</div>
