<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
      <div class="messages-container"></div>

      <div class="panel panel-default margin-35-0">

      <div class="panel-heading centralize">
        <h2>Cadastrar Empresa</h2>
      </div>

      <form required-field-validation class="form" name="formulario" enctype="multipart/form-data">
        <div class="panel-body">
          <div class="list-group-item-heading centralize">
            <h4>Dados da empresa</h4>
          </div>

          <div cnpj-validation class="form-group has-feedback " id="cnpj-group" >
            <label class="control-label">CNPJ <abbr class="cor-vermelha" alt="Preenchimento obrigatório" title="Preenchimento obrigatório">*</abbr></label>
            <input class="form-control required" ng-model="company.cnpj"  type="text" name="empresa.cnpj" id="cnpj"
                   autocomplete="off" ui-mask="?99.999.999/9999-99" model-view-value="true" required>
              <span ng-show="verifingCnpj" class="form-control-feedback" aria-hidden="true"><img src="images/loader.svg" alt=""/></span>
              <span ng-show="showUniqueCnpjMessage()"><label class=" control-label">Já existe empresa com esse CNPJ</label></span>
              <span ng-show="showIncompleteCnpjMessage()"><label class=" control-label">Número incompleto</label></span>
              <span ng-show="showInvalidCnpjMessage()"><label class=" control-label">Número inválido</label></span>
          </div>

          <div empty-field-validation class="form-group has-feedback" id="nomeFantasia-group">
            <label class="control-label">Nome fantasia  <abbr class="cor-vermelha" alt="Preenchimento obrigatório" title="Preenchimento obrigatório">*</abbr> </label>
            <input class="form-control required" ng-model="company.tradeName" ng-change="validate()" type="text" name="empresa.nomeFantasia"
                   id="nomeFantasia" value="" placeholder="ex: Larah Instrumentos Musicais" maxlength="150" required>
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="form-group" id="razaoSocial-group">
              <label class="control-label">Razão social </label>
              <input class="form-control" ng-model="company.companyName" type="text" name="empresa.razaoSocial" id="razaoSocial" placeholder="ex: Larah Instrumentos Musicais Ltda." maxlength="150">
          </div>

        </div>

        <div class="panel-footer">
          <span class="centralize msg-alert color-red margin-15-0" id="form-alert">Preencha os campos corretamente para enviar.</span>
          <input type="submit" id="btn-submit" ng-click="createCompany(company)" class="btn btn-lg btn-primary pull-right margin-0-6" value="Enviar" disabled="true">
          <input type="reset" ng-click="clearForm()" value="Limpar" class="btn btn-default btn-lg pull-left margin-0-6">
          <div style="clear:both;"></div>
        </div>

      </form>

    </div> <!-- panel -->
  </div> <!-- col -->
</div>
